@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    border: none;
    outline: none;

}
body{
    background-color: #f4c531;
}
.wrapper{
    box-sizing: border-box;
    width: 26.7em;
    padding: 2.5em 3em;
    background-color: #ffff;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.3em rgba(86,66,0,0.3);
}
.game-container{
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.image{
    width: 80px;
    height: 80px;
}